
<h3 style="color: black;">{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="off" style="color: black;">

    <input type="hidden" name="_id" value="{{employee._id}}">

    <div class="form-row">
        <div class="form-group col-md-4">
        <label>First Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="First Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div>
    <div class="form-group col-md-4">
        <label>Surname</label>
        <input type="text" class="form-control" name="surname" placeholder="Surname" value="{{employee.surname}}">
        <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div>
    <div class="form-group col-md-3">
        <label>Popular Name</label>
        <input type="text" class="form-control" name="popularName" placeholder="Other Name" value="{{employee.popularName}}">
        {{!-- <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div> --}}
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="dob">DOB</label>
        <input type="date" name="dob" id="dob" class="form-control" value="{{employee.dob}}">
    </div>
    {{!-- <div class="form-group col-md-2">
        <label for="currentAge">Current Age</label>
        <input type="text" name="currentAge" id="currentAge" value="">
    </div> --}}
    
    <div class="form-group col-md-6">
        <label><i class="fa fa-user-circle-o" aria-hidden="true"></i> Gender</label><br>
            <label for="genderM"> Male</label>
            <input type="radio"  name="gender" id="genderM" value="Male"> &nbsp;
            <label for="genderF">Female</label>
            <input type="radio"  name="gender" id="genderF" value="Female">
    </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="hometown"><i class="fa fa-bed" aria-hidden="true"></i> Home Town</label>
            <input type="text" class="form-control" id="hometown" placeholder="home town" value="{{employee.homeTown}}" name="homeTown">
        </div>
        <div class="form-group col-md-5"> 
            <label for="region">Region</label><br>
             <select name="region" id="region" class="form-control">
                 <option value=""></option>
                 <option value="Ahafo">Ahafo</option>
                 <option value="Ashanti">Ashanti</option>
                 <option value="Central">Central</option>
                 <option value="Northen">Northen</option>
                 <option value="Greater Accra">Greater Accra</option>
                 <option value="Western North">Western North</option>
                 <option value="Upper East">Upper East</option>
                 <option value="Upper West">Upper West</option>
                 <option value="Western">Western</option>
                 <option value="Volta">Volta</option>
                 <option value="North East">North East</option>
                 <option value="Savannah">Savannah</option>
                 <option value="Oti">Oti</option>
                 <option value="Eastern">Eastern</option>
                 <option value="Brong Ahafo">Brong Ahafo</option>
                 <option value="Bono East">Bono East</option>
             </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="residence">Residence</label>
            <input type="text" class="form-control" id="residence" name="residence" value="{{employee.residence}}" placeholder="current place of residence">
        </div>
        <div class="form-group col-md-3">
             <label for="hseNum"><i class="fa fa-home" aria-hidden="true"></i> House Number</label>
            <input type="text" class="form-control" id="hseNum" name="houseNumber" value="{{employee.houseNumber}}" placeholder="house No.">
        </div>
        <div class="form-group col-md-3">
            <label for="occupation">Occupation</label>
            <input type="text" class="form-control" id="occupation" name="occupation" value="{{employee.occupation}}" placeholder="occupation">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
<label for="schoolClass"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sunday School Class</label>
            <input type="text" class="form-control" name="schoolClass" id="schoolClass" value="{{employee.schoolClass}}">
        </div>
        <div class="form-group col-md-3">
<label for="num"><i class="fa fa-phone" aria-hidden="true"></i> Mobile Number</label>
            <input type="text" class="form-control" name="mobNum" id="num" value="{{employee.mobNum}}">
        </div>
        <div class="form-group col-md-5">
 <label><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{employee.email}}">
        <div class="text-danger">
            {{employee.emailError}}</div>
        </div>

    </div>

<hr style="font-weight: bolder;">
    
    <div class="form-row">
        <div class="form-group col-md-7">
            <label >Tithe Card ?</label><br>
            <label for="Tc">Yes</label>
            <input type="radio" name="tithe" id="Tc" value="Yes"> &nbsp;&nbsp;
            <label for="Tr">No</label>
            <input type="radio" name="tithe" id="Tr" value="No">
        </div>
<div class="form-group col-md-4">
<label for="cardNumber">Tithe Card No.</label><br>
 <input type="text" class="form-control" id="cardNumber" name="titheNum" value="{{employee.titheNum}}">
</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="form-group col-md-8">
     <label for="dayBorn">Day Born</label><br>
    <select name="dayBorn" id="dayBorn" class="form-control" >
    <option value=""></option>
    <option value="Sunday">Sunday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Monday">Monday</option>
    </select>
</div>
    </div>
<hr>

<div class="form-row">
    <div class="form-group col-md-4">
         <label>Is Spouse a Member ?</label><br>
        <label for="yes">Yes</label>
        <input type="radio" name="spouseMember" id="yes" value="Yes">
        <label for="yes">No</label>
        <input type="radio" name="spouseMember" id="no" value="No"><br>
        <label for="notAppli">Not Applicable</label>
        <input type="radio" name="spouseMember" id="notAppli" value="NA">
    </div>
    <div class="form-group col-md-4">
        <label for="spouseId">Spouse ID if <i>Yes</i></label><br>
        <input type="text" class="form-control" id="spouseId" name="spouseID" value="{{employee.spouseID}}">
    </div>
    <div class="form-group col-md-5">
        <label for="spouseName">Spouse Name if <i>Yes</i></label><br>
        <input type="text" class="form-control" name="spouseName" id="spouseName" value="{{spouseName}}">
    </div>
</div>
<br>
    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="spouseOccu">Spouse Occupation</label><br>
            <input type="text" name="spouseOccupation" id="spouseOccu" value="{{spouseOccupation}}" class="form-control">
        </div>
        <div class="form-group col-md-5">
            <label for="spouseCont">Spouse Contact</label><br>
            <input type="text" name="spouseCont" id="spouseCont" value="{{spouseCont}}" class="form-control  form-group col-md-35">
        </div>
    </div>

    <hr>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="baptised">Baptised ?</label><br>
            <label for="yes">Yes</label>&nbsp;
            <input type="radio" name="T" id="yes">
            <label for="no">No</label>
            <input type="radio" name="T" id="no">
        </div>
        <div class="form-group col-md-4">
            <label for="by">By</label><br>
            <input type="text" class="form-control" id="by" name="baptBy" value="{{employee.baptBy}}">
        </div>
         <div class="form-group col-md-4">
            <label for="church">Church</label><br>
            <input type="text" class="form-control" name="church" id="church" value="{{employee.church}}">
        </div>
    </div>

    <div class="form-row">
         <div class="form-group col-md-4">
            <label for="location">Location</label><br>
            <input type="text" name="location" class="form-control" id="location" value="{{employee.location}}">
        </div>
         <div class="form-group col-md-4">
            <label for="certNo">Baptist Cert. No.</label><br>
            <input type="text" name="certNo" class="form-control" id="certNo" value="{{employee.certNo}}">
        </div>
        <div class="form-group col-md-4">
            <label for="dateBapt">Date Baptised</label><br>
            <input type="date" name="dateBapt" class="form-control" id="dateBapt" value="{{employee.dateBapt}}">
        </div>
    </div>
    <br><br>
    <div class="form-group col-md-5">
        <label for="memberYear">Membership Year</label><br>
        <input type="text" name="memberYear" class="form-control col-md-10" id="memberYear" value="{{employee.memberYear}}">
    </div>
    <br><br>

    {{!-- <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{employee.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="City" value="{{employee.city}}">
        </div>
    </div> --}}
    <br><br>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button> <br><br>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>

</form>


